{% if fluentbit_inputs is defined %}
{% for input in fluentbit_inputs %}
[INPUT]
{% for key in input %}
    {{ key }} {{ input[key] }}
{% endfor %}
{% endfor %}
{% else %}
[INPUT]
    Name cpu
    Tag cpu_default
{% endif %}