# {{ansible_managed}}

[SERVICE]

    Flush {{ fluentbit_service.flush_seconds }}

    Daemon {{ (fluentbit_service.daemon | bool) | ternary('On', 'Off' ) }}

    Log_Level {{ fluentbit_service.log_level }}

{% if fluentbit_service.log_file is defined %}
    Log_File {{  fluentbit_service.log_file }}
{% endif %}

    Parsers_File parsers.conf
{% for parsers_file in fluentbit_service.custom_parsers_files %}
    Parsers_File {{ parsers_file.name }}
{% endfor %}

    Plugins_File plugins.conf
{% for plugins_file in fluentbit_service.custom_plugins_files %}
    Pluins_File {{ plugins_file.name }}
{% endfor %}

{% if fluentbit_service.streams_file is defined %}
    Streams_file {{ fluentbit_service.streams_file }}
{% endif %}

{% if fluentbit_service.http_server.state %}
    HTTP_Server {{ (fluentbit_service.http_server.state | bool) | ternary('On', 'Off' ) }}
    HTTP_Listen { fluentbit_service.http_server.listen_ip }}
    HTTP_Port {{ fluentbit_service.http_server.listen_port }}
{% endif %}

@INCLUDE inputs.conf
@INCLUDE outputs.conf
{% if fluentbit_filters is defined %}
@INCLUDE filters.conf
{% endif %}
{% if fluentbit_custom_parsers is defined %}
@INCLUDE custom_parsers.conf
{% endif %}
